#logo {
  width: 35px;
  display: inline-block;
  vertical-align: top;
  transform: translateY(-8px);
  vertical-align: top;
  margin-right: 15px; }

.copyrights {
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 20px; }
